body {
  margin: 0;
  padding: 40px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: center;
}
.header-img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 30px;
  object-fit: cover;
}
.container {
  max-width: 800px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}
.container2 {
  max-width: 800px;
  margin: 40px auto;
  background-color: #efefef;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}
/* モーダル背景 */
.modal {
  display: none; /* 初期状態で非表示 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6); /* 背景を暗くする */
}
/* モーダルの中身 */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
}
.profile-box {
  gap: 20px;
  text-align: center;
}
.profile-title,
.profile-name {
  margin: 10px 0;
}
.profile-text {
  gap: 5px;
  text-align: left;
}

.profile-img {
  width: 300px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* 閉じるボタン */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #000;
}

/* ナビゲーションメニュー */
.site-nav {
  background-color: #f7f7f7;
  padding: 15px 0;
  text-align: center;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav li {
  display: inline-block;
  margin: 0 20px;
}

/* フェードインアニメーション */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

h1 {
  font-size: 2.5rem;
  color: #eb6112;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  color: #eb6112;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
}

a {
  color: #eb6112;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  margin-top: 40px;
}
